.projects {
    padding: 100px 0; /* Padding consistente con el resto del sitio */
    margin: 30px auto;
    max-width: 1300px; /* Alineado con la clase .max-width del diseño general */

}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los proyectos en dos columnas */
}
