.skills {
    padding: 100px 0;
    background: #F0F0F0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #6e6e6e;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.skills-content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.column {
    flex: 1;
}

.column.left {
    padding-right: 20px;
}

.column.right {
    padding-left: 20px;
}

.text {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.bars {
    margin-bottom: 30px;
}

.bars:last-child {
    margin-bottom: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info span:first-child {
    font-size: 18px;
    font-weight: 500;
    color: #6e6e6e;
}

.info span:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #3883d3;
}

.line {
    height: 8px;
    width: 100%;
    background: #f1f1f1;
    border-radius: 8px;
    position: relative;
}

.line:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background: #3883d3;
    border-radius: 8px;
}

.line.html:before {
    width: 90%;
}

.line.css:before {
    width: 60%;
}

.line.js:before {
    width: 50%;
}

.line.react:before {
    width: 70%;
}

.line.ts:before {
    width: 80%;
}

/* Responsive Styles */
@media(max-width: 768px) {
    .text {
        font-size: 24px;
    }

    .info span {
        font-size: 16px;
    }

    .line {
        height: 6px;
    }

    .info span:last-child {
        font-size: 14px;
    }
}

@media(max-width: 500px) {
    .text {
        font-size: 20px;
    }

    .info span {
        font-size: 14px;
    }

    .line {
        height: 5px;
    }

    .info span:last-child {
        font-size: 12px;
    }
}
